/* CSS for: 
custom additional css for jquery auto-complete ui feature css*/

.ui-menu .ui-menu-item a {
	padding: 7px 8px;
    border-width: 0;
    border-left: 5px solid #fff;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
    color: #222222;        
}
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus, 
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active
{
	background: #e6ecef;
	border-left-color: #33aefd;    
	border-radius: 0px;
	margin: 0px;
}
.ui-autocomplete{
	margin-top: -5px;
	border-radius: 0px 0px 4px 4px;
	text-align: left;
	padding:0px;
}