.migrationstep {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #616161;
    width: 938px;
    box-shadow: 1px 1.7px 6px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #c8d6d9;
    background-color: #ffffff;
    font-size: 12px;
}

.migrationstep-header {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-between;
}

.migrationstep-header-leftside {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.migrationstep-header-rightside {
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.migrationstep-body {
    min-height: 200px;
    box-shadow: inset 0 0 6px 0 rgba(2, 2, 2, 0.1);
    background-color: #f1f6f8;
    padding: 25px
}

.column30 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.column50 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.column100 {
    width: 100%;
    display: inline-block;
}

span.icon-collapse {
    width: 24px;
    height: 18px;
    margin-left: 5px;

    background-repeat: no-repeat;
    background-position: -140px -1px;
}

.migrationstep-title {
    width: 310px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #052942;

}

button.disabled {
    pointer-events: none;
    background-color: #cecece;
    border-color: #cecece;
    cursor: default;
}

.fs_migrationstep_cmp .container {
    padding-bottom: 5px;
}

.container > .column100 {
    padding-bottom: 13px;
}

label.comment-small {
    width: 411px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
    margin-top: 10px;
    display: inline-block;
}

.badge--sucessfull {
    width: 170px;
    height: 24px;
    background-color: #f1f6f8;
    border-radius: 5px;
    text-align: center;
    font-size: 12;
    padding-top: 10px;
    padding-bottom: 0;
    display: inline-block;
    font-weight: 600;
    font-style: italic;
    color: #616161;
}

.form-name {
    width: 103px;
    height: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #052942;
}

.form-name .inline {
    padding-left: 15px;
}

input[type='text'],
input[type='password'] {
    border-radius: 5px;
    background: #fff;
    border: 1px solid;
    border-color: #aaa;
    color: #052942;
    width: 232px;
    padding: 6px;
    font-size: 14px;
    outline: 0;
    font-family: 'Open Sans', Times, serif;
}

input[type='text'].required,
input[type='password'].required {
    border-color: #d55555;
}

input[type='text'].disabled,
input[type='password'].disabled {
    border-color: #cac8c8;
    background-color: #f8fbfc;
    color: #cac8c8;
}

.bar-alert-message {
    display: inline-block;
    background: white;
    padding: 16px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px #dfdfdf solid;
    padding-bottom: 14px;
    padding-top: 14px;
}

.badge-checkmark {
    width: 16px;
    height: 16px;
    display: inline-flex;
    margin: auto;
    background-image: url(../images/sprites/dash_sprite_v1.png);
    background-repeat: no-repeat;
    background-position: -327px -202px;
    background-color: transparent;
    border: none;
    margin-right: 5px;
}

.icon-arrow {
    width: 26px;
    height: 26px;
    display: inline-flex;
    margin: auto;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.icon-arrow--collapse {
    background-image: url(../images/sprites/dash_sprite_v1.png);
    background-position: -6px -231px;
}

.icon-arrow--expand {
    background-image: url(../images/sprites/dash_sprite_v1.png);
    background-position: -60px -231px;
}

.label--input {
    margin-top: 10px;
    display: inline-block;
}

.migrationstep.step1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
}

.migrationstep.step2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bar-alert-text-section .icon-attention-triangle--orange {
    margin-right: 5px;
}

.icon-attention-triangle--orange {
    background-position: center;
    background-image: url('../images/iconimages/icon_attention.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    display: inline-block;
}

.btnmigrateform .icon-square-arrowup {
    margin-right: 4px;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: 3px;
}

.icon-square-arrowup {
    background-position: center;
    background-image: url('../images/iconimages/square_arrowup.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.image-section .icon-square-add-more {
    margin-left: 10px;
}

.icon-square-add-more {
    background-position: center;
    background-image: url('../images/iconimages/square_add_more.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.image-section {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.no-org-available-body {
    display: flex;
    vertical-align: top;
    margin-top: 20px;
}
.no-org-available-text-section {
    display: inline-block;
    width: 90%;
}

.no-org-available-title {
    font-weight: 600;
    font-style: italic;
}

.no-org-available-text {
    font-size: 14px;
}

.no-org-available-text > span {
    padding-top: 10px;
    display: inline-block;
}

.btnManageSandbox {
    margin-top: 10px;
}

.migrationstep-body>.container>.form-message>.bar-alert-message{
    margin-top:0px;
    width: 830px;
}

.visibility-hidden {
    display: none;
}

 .form-setting-wrapper {
    display: block;
    padding-left: 1px;
    overflow: hidden;
}

.form-information {
    margin-bottom: 15px;
}

.form-name-label{
    font-size:14px;
    padding-right: 30px;
}

.form-message{
    margin-bottom: 20px;
}
.select2-container{
    width:300px;
    
}

.container.step1-login {
    padding-left: 55px;
}

/* -----------Radio Button styling----------- */
/* TODO: Should potentially be moved to app_main.css*/

.vertical-tabs li.active .ff-radio-css {
    background-position: -1px -59px;
}

.vertical-tabs>li>a {
    text-decoration: none !important;
    color: #616161;
    font-size: 14px;
    font-family: 'Open Sans';
    padding-right: 30px;
}

.vertical-tabs>li {
    display: inline-block !important;
}

ul {
    margin:0px;
    margin-bottom: 15px;
}

.form-setting-wrapper .ff-radio-css {
    background-image: url(../images/icon_publish_options/ff_radio_buttons.png);
    background-repeat: no-repeat;
    background-position: -1px -29px;
    width: 20px;
    vertical-align: top;
    height: 20px;
    margin-right: 7px;
    display: inline-block
}

.nav{
    display: inline-block !important;
    list-style: none;
    padding-inline-start: 0px;
}

input[type='checkbox'].fs-checkbox + label.fs-checkbox-label {
    margin-left: 0px;
    font-size: 14px;
}

/* -----------Radio Button styling End----------- */



/* -----------Silver Line Separator styling ----------- */
/*TODO: Should be moved to app_main.css Used in many forms*/
.silver-line-separator {
    border-top: 1px solid #a6a6a6;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both
}
/* -----------Silver Line styling End----------- */

.helpIconCode {
    background-image: url(../../ffcommon/iconalpha/button-sprite.png);
    background-size: 300px;
    -moz-border-radius: 100px/50px;
    -webkit-border-radius: 100px/50px;
    border-radius: 12px;
    background-color: rgba(5,41,66,.1);
    border: solid 1px rgba(5,41,66,.18);
    background-position: -540px -2px;
    height: 11px;
    width: 11px;
    display: inline-block;
}

.help-icon{
    padding-left: 3px;
}

.blue-tooltip-text{
    margin-top: -37px !important; /* override base.cs style */
}

.select2-container .select2-choice>.select2-chosen {
    margin-top: 4px;
}