body {
    margin: 0px;
}

/*legacy CSS classes*/
#dvFastForms .loadImg {
    background: transparent url(../styles/images/ajax-loader.gif) no-repeat center center;
    height: 25px;
    width: 100px;
    position: relative;
    z-index: 1000;
    left: 0%;
    top: 0%;
}


#dvFastForms .FileUploadDropArea {
    background-color: #f7f7f7;
    border-radius: 5px;
    height: auto;
    text-align: left;
    width: auto;
    min-width: 230px;
    padding: 10px;
    display: table;
}

#dvFastForms .FileUploadSelect {
    cursor: hand;
}

    #dvFastForms .FileUploadSelect:hover {
        color: #139be1;
    }

/*Fast Forms CSS classes*/

#dvFastForms .ff-input-type {
    display: inline-block;
    padding: 7px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 220px;
}

#dvFastForms select.ff-select-type {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


#dvFastForms .ff-checkbox {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


#dvFastForms .ff-textarea {
    width: 220px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#dvFastForms .ff-ui-datepicker {
    font-size: small !important;
}

#dvFastForms .ff-load-img {
    background: transparent url(../styles/images/ajax-loader.gif) no-repeat center center;
    height: 25px;
    width: 100px;
    position: relative;
    z-index: 1000;
    left: 0%;
    top: 0%;
}

#dvFastForms .ui-widget-overlay {
    background: #fff;
}


#dvFastForms .ff-fileupload-drop-area {
    background-color: #f7f7f7;
    border-radius: 5px;
    height: auto;
    text-align: left;
    width: auto;
    min-width: 176px;
    padding: 10px;
    display: table;
}

#dvFastForms .ff-fileupload-select {
    cursor: hand;
}

    #dvFastForms .ff-fileupload-select:hover {
        color: #139be1;
    }

    #dvFastForms .ff-fileupload-select.ff-upload-label-disabled:hover {
        color:unset;
    }

/* date/time picker */
#dvFastForms .ff-ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    font-size: 11px;
}

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-prev,
    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-prev-hover,
    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-next-hover {
        top: 1px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-prev {
        left: 2px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-next {
        right: 2px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-prev-hover {
        left: 1px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-next-hover {
        right: 1px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-prev span,
    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;
    }

        #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-title select {
            font-size: 1em;
            margin: 1px 0;
        }

    #dvFastForms .ff-ui-datepicker select.ff-ui-datepicker-month,
    #dvFastForms .ff-ui-datepicker select.ff-ui-datepicker-year {
        width: 49%;
    }

    #dvFastForms .ff-ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    #dvFastForms .ff-ui-datepicker th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    #dvFastForms .ff-ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        #dvFastForms .ff-ui-datepicker td span,
        #dvFastForms .ff-ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }

    #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            #dvFastForms .ff-ui-datepicker .ff-ui-datepicker-buttonpane button.ff-ui-datepicker-current {
                float: left;
            }

    /* with multiple calendars */
    #dvFastForms .ff-ui-datepicker.ff-ui-datepicker-multi {
        width: auto;
    }

#dvFastForms .ff-ui-datepicker-multi .ff-ui-datepicker-group {
    float: left;
}

    #dvFastForms .ff-ui-datepicker-multi .ff-ui-datepicker-group table {
        width: 95%;
        margin: 0 auto .4em;
    }

#dvFastForms .ff-ui-datepicker-multi-2 .ff-ui-datepicker-group {
    width: 50%;
}

#dvFastForms .ff-ui-datepicker-multi-3 .ff-ui-datepicker-group {
    width: 33.3%;
}

#dvFastForms .ff-ui-datepicker-multi-4 .ff-ui-datepicker-group {
    width: 25%;
}

#dvFastForms .ff-ui-datepicker-multi .ff-ui-datepicker-group-last .ff-ui-datepicker-header,
#dvFastForms .ff-ui-datepicker-multi .ff-ui-datepicker-group-middle .ff-ui-datepicker-header {
    border-left-width: 0;
}

#dvFastForms .ff-ui-datepicker-multi .ff-ui-datepicker-buttonpane {
    clear: left;
}

#dvFastForms .ff-ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
#dvFastForms .ff-ui-datepicker-rtl {
    direction: rtl;
}

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-buttonpane {
        clear: right;
    }

        #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-buttonpane button {
            float: left;
        }

            #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-buttonpane button.ff-ui-datepicker-current,
            #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-group {
                float: right;
            }

    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-group-last .ff-ui-datepicker-header,
    #dvFastForms .ff-ui-datepicker-rtl .ff-ui-datepicker-group-middle .ff-ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }


/* main wrapper*/
.ff-form-main {
    max-width: 800px !important;
    font-family: 'Open Sans';
    font-size: 14px;
    overflow: visible;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: -1px 1px 3px 1px rgba(4, 4, 4, .08);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

/* footer wrapper */
#dvFastForms .ff-footer-group {
    max-width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
}


/* submit button */
.ff-btn-submit {
    font-weight: bold;
}

/* wrapper for individual sections */
#dvFastForms .ff-group-row {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
}

/* wrapper for individual sections */
#dvFastForms .ff-footer-group {
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto;
}

/*wrapper block for individual row ( column 1 - 2)*/
#dvFastForms .ff-form-main .ff-item-row {
    display: block;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    padding-top: 0px;
}

/* left column block*/
#dvFastForms .ff-col-1 {
    float: left;
    min-width: 30%;
    padding: 15px;
    line-height: 32px;
}

/* right column block*/
#dvFastForms .ff-col-2 {
    float: left;
    width: 57%;
    min-width: 40%;
    padding: 15px;
    line-height: 32px;
}

#dvFastForms .btnDiv {
    text-align: right;
    padding: 20px;
    clear: left;
}

/* Save, Discard, and Send buttons */
#dvFastForms .btnDiv input{
    margin-left:24px;
}

#dvFastForms .ff-btn-submit {
    background: white;
    padding: 10px 16px 10px 10px;
    color: white;
    border: none;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Open Sans', 'sans-serif';
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    color: #616161;
    box-shadow: -1px 1px 3px 1px rgba(4, 4, 4, .2);
    min-width: 80px;
    border-color: #ccc;
    border-width: 1px;
}

.ff-btn-submit:hover {
    color: #33aefd;
}

@media (max-width: 450px) {

    /* css style block*/
    #dvFastForms .ff-col-1 {
        float: left;
        width: 91%;
        padding: 15px;
    }

    #dvFastForms .ff-col-2 {
        float: left;
        width: 91%;
        padding: 15px;
    }
}

/* section title block*/
#dvFastForms .ff-section-col {
    color: #616161;
    border-bottom: 1px solid #ececec;
    min-height: 33px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

/* section header text*/
#dvFastForms .ff-section-header {
    font-size: 20px !important;
}

/* style for required marks besides required fields*/
#dvFastForms .ff-required-mark {
    color: #33aefd;
}

/* style for invalid controls */
#dvFastForms .ff-input-type-invalid {
    border-color: Red;
}

#dvFastForms .ff-invalid-msg {
    color: Red;
}



/* thank you message dialog */

#dvFastForms .ff-ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

    #dvFastForms .ff-ui-dialog .ff-ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
    }

    #dvFastForms .ff-ui-dialog .ff-ui-dialog-title {
        float: left;
        margin: .1em 0;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #dvFastForms .ff-ui-dialog .ff-ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 20px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
    }

    #dvFastForms .ff-ui-dialog .ff-ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
    }

    #dvFastForms .ff-ui-dialog .ff-ui-dialog-buttonpane {
        text-align: left;
        border-width: 1px 0 0 0;
        background-image: none;
        margin-top: .5em;
        padding: .3em 1em .5em .4em;
    }

        #dvFastForms .ff-ui-dialog .ff-ui-dialog-buttonpane .ff-ui-dialog-buttonset {
            float: right;
        }

        #dvFastForms .ff-ui-dialog .ff-ui-dialog-buttonpane button {
            margin: .5em .4em .5em 0;
            cursor: pointer;
        }


/* Select2 Styles */

/*
Version: 3.5.0 Timestamp: Mon Jun 16 19:29:44 EDT 2014
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 100%;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
    -webkit-box-sizing: border-box; /* webkit */
    -moz-box-sizing: border-box; /* firefox */
    box-sizing: border-box; /* css3 */
}

    .select2-container .select2-choice {
        display: block;
        height: 32px;
        padding: 0 0 0 8px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        border: 1px solid #aaa;
        white-space: nowrap;
        line-height: 32px;
        color: #444;
        text-decoration: none;
        background-clip: padding-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #fff;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

html[dir="rtl"] .select2-container .select2-choice {
    padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #ccc;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
    margin-left: 26px;
    margin-right: 0;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    background: url('images/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-top: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

    .select2-drop.select2-drop-above {
        margin-top: 1px;
        border-top: 1px solid #ccc;
        border-bottom: 0;
        -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
        box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    }

.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
    border-top: 1px solid #ccc;
    width: auto;
}

    .select2-drop-auto-width .select2-search {
        padding-top: 4px;
    }

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /*border-left: 1px solid #ccc;*/
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    /*background: #ccc;*/
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
    left: 0;
    right: auto;
    border-left: none;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b,.select2-container .select2-choice .select2-arrow strong {
    display: block;
    width: 100%;
    height: 100%;
    background: url('images/select2.png') no-repeat 0 1px;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b,.select2-container .select2-choice .select2-arrow strong {
    background-position: -1px 2px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

    .select2-search input {
        width: 100%;
        height: auto !important;
        min-height: 26px;
        padding: 4px 20px 4px 5px;
        margin: 0;
        outline: 0;
        font-family: sans-serif;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #fff url('images/select2.png') no-repeat 100% -22px;
    }

html[dir="rtl"] .select2-search input {
    padding: 4px 5px 4px 20px;
    background: #fff url('images/select2.png') no-repeat -37px -22px;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('images/ajax-loader.gif') no-repeat 100%;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
    border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -16px 1px;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 0px;
    margin: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[dir="rtl"] .select2-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

    .select2-results li.select2-result-with-children > .select2-result-label {
        font-weight: bold;
    }

.select2-results .select2-result-label {
    padding: 7px 7px 7px;
    margin: 0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 14px;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-results-dept-1 .select2-result-label {
    padding-left: 20px
}

.select2-results-dept-2 .select2-result-label {
    padding-left: 40px
}

.select2-results-dept-3 .select2-result-label {
    padding-left: 60px
}

.select2-results-dept-4 .select2-result-label {
    padding-left: 80px
}

.select2-results-dept-5 .select2-result-label {
    padding-left: 100px
}

.select2-results-dept-6 .select2-result-label {
    padding-left: 110px
}

.select2-results-dept-7 .select2-result-label {
    padding-left: 120px
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('images/ajax-loader.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

    .select2-container.select2-container-disabled .select2-choice .select2-arrow {
        background-color: #fff;
        background-image: none;
        border-left: 0;
    }

    .select2-container.select2-container-disabled .select2-choice abbr {
        display: none;
    }


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
}

html[dir="rtl"] .select2-container-multi .select2-choices {
    padding: 0 0 0 5px;
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
    float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

    .select2-container-multi .select2-choices .select2-search-field input {
        padding: 5px;
        margin: 1px 0;
        font-family: sans-serif;
        font-size: 100%;
        color: #666;
        outline: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent !important;
    }

        .select2-container-multi .select2-choices .select2-search-field input.select2-active {
            background: #fff url('images/ajax-loader.gif') no-repeat 100% !important;
        }

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url('images/select2.png') right top no-repeat;
}

html[dir="rtl"] .select2-search-choice-close {
    right: auto;
    left: 3px;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
    left: auto;
    right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

    .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
        padding: 3px 5px 3px 5px;
        border: 1px solid #ddd;
        background-image: none;
        background-color: #fff;
    }

        .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
            display: none;
            background: none;
        }
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b,.select2-container .select2-choice .select2-arrow strong {
        background-image: url('images/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .select2-search input {
        background-position: 100% -21px !important;
    }
}


.select2-drop-multi.ff-multi-checkbox .select2-results .select2-selected {
    display: block;
}

.select2-drop-multi.ff-multi-checkbox > ul > li,
.select2-drop-multi.ff-multi-checkbox > ul > li.select2-highlighted {
    background-image: url('images/native_checkbox_unchecked.png') !important;
    background-repeat: no-repeat !important;
    background-position: 0px 6px;
}

    .select2-drop-multi.ff-multi-checkbox > ul > li.select2-selected,
    .select2-drop-multi.ff-multi-checkbox > ul > li.select2-selected.select2-highlighted {
        background-image: url('images/native_checkbox_checked.png') !important;
        background-repeat: no-repeat;
    }

    .select2-drop-multi.ff-multi-checkbox > ul > li > div {
        padding-left: 20px !important;
    }

    .select2-drop-multi.ff-multi-checkbox > ul > li.select2-no-results {
        display: none !important;
    }



#dvFastForms .ff-page-bread-item {
    font-family: 'Open Sans';
    color: #000;
    font-size: 18px;
}

#dvFastForms .ff-page-header {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

#dvFastForms .ff-page-col {
    width: 100%;
}

#dvFastForms .ff-form {
    background-color: #F6F9F9;
}

#dvFastForms .footnoteDiv {
    float: left;
    width: 47%;
    padding-left: 13px;
    text-align: left;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

#dvFastForms .ff-line-seperator {
    border: 1px solid #ececec !important;
    display: block !important;
    width: 100% !important;
}


#dvFastForms a.ff-alink, #dvFastForms a.ff-alink:focus, #dvFastForms a.ff-alink:visited {
    padding: 10px;
    color: #027dcc;
}
/* submission preview mode*/
.submission-preview-mode #dvFastForms select.ff-multipicklist {
    pointer-events: visible;
}

.submission-preview-mode #dvFastForms select.ff-multipicklist option {
    pointer-events: none;
}


#dvFastForms .matrix-section .ff-col-2 {
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#dvFastForms .matrix-section .ff-col-1 {
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#dvFastForms .matrix-section .container-table {
    display: table-cell;
    vertical-align: middle;
}

#dvFastForms .matrix-section .container-row {
    display: inline-block;
    vertical-align: middle;
}

#dvFastForms .matrix-section .radio-container {
    margin-bottom: 0px;
}

#dvFastForms .matrix-field {
    display: inline-block;
    width: 100%;
}

#dvFastForms .container-cell.matrix-small-column {
    min-width: initial;
    max-width: initial;
    width: 3em;
}

/* Matrix PDF - Starts */
.form-pdf .matrix-section .ff-col-2 {
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.form-pdf .matrix-section .ff-col-1 {
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.form-pdf .matrix-section .container-table {
    display: table-cell;
    vertical-align: middle;
}

.form-pdf .matrix-section .container-row {
    display: inline-block;
    vertical-align: middle;
}

.form-pdf .matrix-section .radio-container {
    margin-bottom: 0px;
}

.form-pdf .matrix-field {
    display: inline-block;
    width: 100%;
}

.form-pdf .container-cell.matrix-small-column {
    min-width: initial;
    max-width: initial;
    width: 3em;
}

.form-pdf .matrix-small-column .matrix-label {
    font-size: 8px;
}
/* Matrix PDF - Ends */